*.log.*
dist
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/artifacts
/typechain-types

# production
/build
/forking

# misc
.DS_Store
.env
.env.local
.env.test
.env.development.local
.env.test.local
.env.production.local
tsconfig.build.tsbuildinfo

# debug
cache
yarn-error.log
yarn-debug.log*
gasReporterOutput.json
logs

# generated clients
clients/js/src/generated/