name: CI
on: [push]
env:
  NODE_OPTIONS: "--max_old_space_size=4096"
jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: yarn install
      - run: yarn lint-check
